.body_recuperar {
    background: linear-gradient(135deg, #0d6efd, #003a75);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  ._recuperar {
    border-radius: 12px;
    padding: 25px;
}

.btn-botao_enviar {
    width: 100%;
}

.logo_recuperar {
    width: 70px;
    margin-bottom: 15px;
}